body{
  width: 80%;
  max-width: 768px;  /*bootstrap sm breakpoint*/
/*  max-width:992px; */ /*bootstrap md breakpoint*/
  margin:0 auto;
  background-color: #ffffff;
  font-size: 12px;
  color: blue;
  font-family: "Raleway", sans-serif;
/*  font-family: 'proxima-nova', sans-serif;*/
/*  font-family: 'Helvetica', arial, sans-serif;*/
/*  font-family: 'Open Sans', sans-serif;*/
/*  font-family: 'Droid Sans', sans-serif;*/
/*  font-family: 'Droid Sans Mono', monospace;*/
/*  font-family: 'Cutive Mono', monospace;*/
/*  font-family: 'David Libre', serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Alegreya Sans', sans-serif;*/
/*font-family: 'Merriweather Sans', sans-serif;*/
}
/*not used*/
.grad {
  height: 100%;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, blue); /* Standard syntax */
/*  background: linear-gradient(to top, rgb(255,77,92), blue); */
}
a, a:link, a:visited  {
  text-decoration: none;
  color: blue;
}
a:hover, a:active {
  text-decoration: none;
  color: red;
}
h1, h2, h3, h4{
  text-align: center;
}
h3{
  margin-bottom:10%;
}
/*header*/
header, footer{
  text-align: center;
  margin: 12% auto;
}
#header_h1 a, a:link, a:visited {
  text-decoration: none;
  font-size: 150%;
  line-height: 50%;
}
#header_h1 a:hover, a:active {
  text-decoration: none;
  color: rgb(255,77,92);
}
#header_h2 h2{
  font-size: 200%;
  line-height: 50%;
}
#icon-menu{
  font-size: 30px;
  line-height: 300%;
}
#icon-menu:hover {
  color: rgb(255,77,92);
}
#menu a, a:link, a:visited {
  text-decoration: none;
  font-size: 130%;
  line-height: 500%;
}
#menu a:hover, a:active {
  text-decoration: none;
  color: red;
}
.hr_header{
  color:blue;
  width:25%;
  border: solid 2px blue;
  border-radius: 2px;
  opacity:0.3;
  margin-bottom: 100px;
}

/*footer*/
.hr_footer{
  color:blue;
  width:25%;
  border: solid 2px blue;
  border-radius: 2px;
  opacity:0.3;
  margin-top: 100px;
}
#icon {
  margin:20% 0;
}
#icon-up {
  font-size: 30px;
}
#icon-up:hover {
  color: rgb(255,0,0);
}
#footer_button, #footer_copyright{
  margin: 5% 0;
}
.button {
  display: inline-block;
  width: 120px;
  padding-top: 16px;
  padding-bottom: 16px;
/*  border: 2px solid blue;*/
  background-color: blue;
  color: white !important;
  margin: 10px 5px;
  -webkit-transition-duration: 0.4s;  Safari 
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
/*  background-color: red;*/
  background-color: rgb(255,77,92);
}
#footer_copyright a, a:link, a:visited {
  text-decoration: none;
  color: blue;
  font-size: 100%;
  line-height: 100%;
}
#footer_copyright a:hover, a:active {
  text-decoration: none;
  color: red;
}


/*about*/
#about {
  text-align: center;
  font-size: 150%;
  margin-bottom: 30%;
}
#about img{
  width:50%; 
  max-width:500px; 
  min-width:250px;
}
#about .title{
  margin: 5%;
  font-size: 24px;
}
#about .description{
  max-width: 600px;
  text-align: justify;
  margin: 0 auto;
}

/*contact*/
#contact {
  text-align: center;
  font-size: 150%;
  margin-bottom: 30%;
}

/*portfolio*/