body {
  background-color: #ffffff;
  font-size: 16px;
  color: #000000;
  line-height: 1.8;
  font-family: "Raleway", sans-serif;
/*  font-family: 'proxima-nova', sans-serif;*/
/*  font-family: 'Helvetica', arial, sans-serif;*/
/*  font-family: 'Open Sans', sans-serif;*/
/*  font-family: 'Droid Sans', sans-serif;*/
/*  font-family: 'Droid Sans Mono', monospace;*/
/*  font-family: 'Cutive Mono', monospace;*/
/*  font-family: 'David Libre', serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Alegreya Sans', sans-serif;*/
/*font-family: 'Merriweather Sans', sans-serif;*/
}
h1, h2, h3, h4{
  font-size: 5rem;
} 
a, a:link, a:visited  {
  text-decoration: none;
  color: #808080;
}
a:hover, a:active {
  text-decoration: none;
  color: rgb(0,0,255);
}
.container{
  max-width: 900px;
/*  max-width: 768px;*/  /*bootstrap sm breakpoint*/
/*  max-width: 992px; */ /*bootstrap md breakpoint*/
  margin: 0 auto !important;
  padding: 15rem 3rem;
}
.glyphicon {
  font-size: 3rem;
  color: #ffffff;
}
.bg-blue {
  background-color: #1d47ff;
  height: 600px;
  color: #ffffff;
  padding: 5rem 0;
}
.bg-blue img{
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 5rem;
  width: 300px;
}
.bg-blue .glyphicon {
  color: #ffffff ;
}


/* Footer & Header*/
.navbar {
  padding: 2rem;
  letter-spacing: 0.3rem;
  opacity: 0.8;
  background-color: #ffffff;
  font-size: 14px;
}
.navbar-nav  li a:hover {
  color: blue !important;
}
.active-nav a{
  color: blue !important;
}
footer {
  background-color: #1d47ff;
  padding: 5rem;
}
.footer-links{
  margin-bottom: 10rem;
}
.footer-links a, .footer-links p{
  font-size: 12px;
  color: #ffffff !important;
  letter-spacing: 3px;
}
.button {
  border: 2px solid #ffffff;
  color: white !important;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 200px;
}
.button:hover {
  border: 2px solid #000000;
  background-color: #000000;
  color: #ffffff !important;
}

/* Portfolio */
.title{
  text-align: left;
}
.description{
  text-align: left;
}
.artwork-sq {
  padding: 20px;
  width: 400px;
  display: inline;
}
.artwork {
  margin: 0 auto;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 600px;
  display: inline-block;
}
.artwork-portrait {
  padding: 20px;
  max-width: 600px;
  display: inline;
}




