body {
  font-family: Helvetica,arial,sans-serif;
/*  font-family: 'Open Sans', sans-serif;*/
/*  font-family: 'Droid Sans', sans-serif;*/
/*  font-family: 'Droid Sans Mono', monospace;*/
/*  font-family: 'Cutive Mono', monospace;*/
/*  font-family: 'David Libre', serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Alegreya Sans', sans-serif;*/
/*font-family: 'Merriweather Sans', sans-serif;*/
  line-height: 1.8;
/*  color:#110631;*/ /*darkest navy blue*/
  color:#1C419F;  /*dark navy blue */
  font-size: 16px;
}



/*index page*/
/*.bg-blue {
  background-color: #57CCFF; 
  padding: 150px 50px;
}*/
.bg-grey {
  background-color: #f0f0f0;
  padding: 150px 0px;
}
.bg-pink {
  background-color: #FF4D5C; 
  padding: 150px 50px;
  color:#110631; 
}
.bg-white {
  background-color: #ffffff;
  padding:150px 0px;
}

a, a:link, a:visited  {
  text-decoration: none;
  color:#110631; 
}
a:hover, a:active {
  text-decoration: none;
  color:#FF4D5C;
}
.bg-white a, .bg-white a:link, .bg-white a:visited  {
  text-decoration: none;
  color:#FF4D5C;
}
.bg-white a:hover, .bg-white a:active {
  text-decoration: none;
  color:#57CCFF;  

}
.bg-pink a, .bg-pink a:link, .bg-pink a:visited  {
  text-decoration: none;
  color:#1C419F;
}
.bg-pink a:hover, .bg-pink a:active {
  text-decoration: none;
  color:#57CCFF; 
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.8;
/*  background-color:#110631;*/
}
.navbar-nav  li a:hover {
/*  color: #FF4D5C !important;*/
  color: #57CCFF !important;
  color: #1C419F !important;
}
.grid {
  max-width: 900px;
  margin: 0 auto;
}
.grid-item{
  padding:15px 0px;
/*  width:250px;
  height:auto;
  opacity:0.9;*/
}



.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 20%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.8);
}

.hovereffect p{
  color: #FFF;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hovereffect:hover p{
  opacity: 1;
  filter: alpha(opacity=100);
}


/*project page*/
.gallery{
  padding-top:5rem;
  padding-bottom:10rem;
  padding-left:2rem;
  padding-right:2rem;
}

.description{
  text-align:center;
  font-size:16px;
  padding: 0rem 5rem;
}
.worktitle{
  color:#FF4D5C;
}
.artwork {
  padding:2rem;
  width:800px;
  display:inline;
}
.artwork-portrait {
  padding-top:2rem;
  width:500px;
  display:inline;
}
/*.artwork-icon{
  padding:2rem;
  width:350px;
  display:inline;
}

*/
#contact {
  padding: 50px 0px;
}
