* { box-sizing: border-box; }
/* ---- grid ---- */

.grid {

  max-width: 900px;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 300px;
/*  float: left;*/
  padding: 20px;

}

/*  background: #D26;*/
/*  border: 1px solid;
  border-color: #C0C0C0;
  border-radius: 1px;*/
}

/*.grid-item--width2 { width: 300px; }
.grid-item--width3 { width: 250px; }
.grid-item--width4 { width: 350px; }
*/
.grid-item-1-1 {
  height: 300px;
}
.grid-item-3-4 { 
  height: 400px; 
}
.grid-item-4-3 { 
  height: 260px; 
}





/*    <style>
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      .item {
        width:  300px;
        height: 500px;
        float: left;
        background: #2296DD;
        border: 2px solid #333;
      }

      .item.thumbnail {
        width:  200px;
        height: 400px;
        background: #cfcfcf
      }

      .item.medium {
        width:  350px;
        height: 450px;
        background: #A6E392
      }

      .item.large {
        width:  400px;
        height: 200px;
        background: #D092E3
      }
    </style>
*/